body {
	background: url('img/bg.png');
}

#form {
	margin: 12px 0;
	background: #fff;
	border-radius: 16px;
	box-shadow: 0 0 32px rgb(0 0 0 / 8%);
}

#alert {
	display: none;
}

@media (min-width: 577px) {
	#alert {
		text-align: center;
		font-size: 24px;
		padding: 30px 50px;
	}
}

@media (max-width: 576px) {
	#form {
		box-shadow: none;
		padding: 0 !important;
		margin: 15px 8px 30px;
	}

	body {
		background: none;
	}
}

.iti {
	width: 100%;
}

.gender img {
	transition: 0.15s;
}

.gender input:checked+label img,
.gender input:hover+label img {
	filter: invert(1);
	opacity: 1 !important;
}